{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}

    <h1 class="text-center" >DASHBOARD</h1>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Aprobar Usuarios</h4>
                        <table class="table table-sm" id="usuarios">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.nombres }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><a class="btn btn-primary btn-sm" href="{{ path('aceptar_usuario', {user: user.id}) }}">Aceptar</a>&nbsp; <a class="btn btn-danger btn-sm" href="{{ path('rechazar_usuario', {user: user.id}) }}">Rechazar</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Noticias</h4>
                        <table class="table table-sm" id="noticias">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Título</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for noticia in noticias %}
                                    <tr>
                                        <td>{{ noticia.titulo }}</td>
                                        <td><a class="btn btn-primary btn-sm" href="{{ path('app_noticia_show', {id: noticia.id}) }}">Ver Más</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Crear Noticias</h4>
                <form id="formNoticias" action="{{ path('app_noticia_new') }}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="titulo">Título:</label>
                                <input type="text" class="form-control" id="titulo" placeholder="Título de la Noticia" name="titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="medio">Medio:</label>
                                <input type="text" class="form-control" id="medio" placeholder="Medio de la Noticia" name="medio">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fecha">Fecha:</label>
                                <input value="{{ 'now'|date('Y-m-d') }}" type="date" class="form-control" id="fecha" name="fecha">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="archivo">Archivo:</label>
                                <input type="file" class="form-control-file" id="archivo" placeholder="Archivo de la Noticia" name="archivo">
                            </div>
                        </div>
                    </div>

                    <center><button type="submit" class="btn btn-primary">Guardar</button></center>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('js/dashboard/index.js')}}"></script>
{% endblock %}